.name-text {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}

.score-text {
    -fx-font-size: 100;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-fill: white;
    -fx-effect: dropshadow(two-pass-box,#333,10,0,5,5);
}
